@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@100;200&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Poppins', sans-serif;
}

#login {
  background: #fff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #8cd2e7,
    #fff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #cfd8e4,
    #d0d4d6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
